{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}


<h2 style="margin-left: 10px;">Active Listings</h2>
{{ instance }}
{{ user }}
<h1>{{ start_bid }}</h1>
{{ bid_value }}
{% if messages%}
    {% for messege in messages %}
    <div class="alert alert-danger" role="alert">
       {{ messege }}
    </div>
    {% endfor %}
{% endif %}


<div style="display: flex; justify-content: center;">
    <h1>
        <div class="card-title text-dark bg-info mb-3"
         style="max-width: 50rem; text-align: left;">Actual price: {{ item.start_bit }}€
        </div>
    </h1>
</div>


<section style="display: flex;">
  <div style="flex: 1; padding: 1rem;">
    <article>
        <div class="card" style="width: 37rem;">
              {% if item.image %}
                <img src="{{ item.image.url }}" class="rounded" style="width: 40rem; height: 30rem; padding-right: 40px">
            {% else %}
                <img src="{% static 'auctions/images/default.png' %}" style="width: 40rem; height: 30rem">
            {% endif %}
        </div>
    </article>
  </div>
  <div style="flex: 1; padding: 1rem;">
    <article style="padding-left:80px">
        <div class="card text-dark bg-light mb-3" style="max-width: 30rem; text-align: center;">
          <div class="card-header">
            <h5 class="card-title">{{ item.title }}</h5>
              <h6 class="card-title">Category: {{ item.select_category }}</h6>
          </div>
          <div class="card-body">
            <p class="card-text">{{ item.subtitle }}</p>
          </div>
        </div>
        <div style="position: relative; max-width: 30rem">
            <div >
                <div style="float: left;" class="d-inline p-2 bg-primary text-white">Date: {{ item.data }}
                </div>
            </div>
            <div >
                <div style="float: right;" class="d-inline p-2 bg-dark text-white">User: {{ item.seller }}
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div style="padding-top: 50px;">
            <div style="padding-top: 20px;" >
                <a href="{% url 'add_to_watchlist' item.id  %}" type="button" class="btn btn-info">Add/remove to Watchlist</a>
            </div>
        </div>
        {% endif %}
<div style="padding-top: 50px; ">
    <form action="{% url 'make_bid' item.id%}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Make a bid">
    </form>
</div>
        <div class="p-3 mb-2 bg-success text-white" style="float: left; width: 55%;">
            <h4>You current bid is {{ bid_number }}€</h4>
        </div>
        {{ bid }}
    </article>


  </div>

</section>


{% endblock %}